/* On screens that are 640px wide or less,do the following*/
@media screen and (max-width: 640px) {
  .container {
    grid-template-areas:
      "header"
      "main";
    grid-template-rows: 0.2fr 3fr;
    grid-template-columns: 1fr;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container__aside {
    width: 90%;
    display: none;
  }

  .container__aside.active {
    z-index: 1;
    width: 50%;
    display: inline-block;
    position: fixed;
    left: -100%;
    top: 8.2%;
  }
  .product-filter {
    position: fixed;
    left: 80%;
    bottom: 9%;
    z-index: 1;
  }
  .fab {
    display: block;
  }
}

@media screen and (max-width: 1007px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter--clear {
    left: 55%;
  }
}
